mat-form-field {
    margin-right: 30px;
    width: 350px;
    display: block;
}

mat-divider {
    // margin-bottom: 20px;
    // margin-bottom: 20px;
    margin: 20px 0px
}
button {
    margin-right: 20px;
}